.hero {
  opacity: 100%;
  /* z-index: 0; */
  position: relative;
  width: 100%;
}
.hero .details {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 2;
}
.hero .content {
  padding: 10rem 5rem 2.5rem 5rem;
  /* position: relative; */
  z-index: 2;
}
.hero .content .title {
  font-size: 8rem;
  line-height: 6rem;
}
.hero .content .tagline {
  display: flex;
  flex-direction: row;
  font-size: 3rem;
  line-height: 3rem;
}
.hero .content button {
  margin-top: 2rem;
}
.hero .rainbow {
  width: 100%;
  max-width: 100%;
  position: relative;
  border: 0px solid red;
  height: 15rem;
  margin-top: 2rem;
  z-index: 0;
  opacity: 100%;
}

.hero .rainbow img {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.hero .rainbow .days {
  font-size: 9rem;
  line-height: 6rem;
  color: var(--color3);
  text-shadow: 1px 1px 4px black;
  margin: 0;
  padding: 0;
}

.hero .rainbow .text {
  font-size: 3.8rem;
  text-transform: uppercase;
  color: var(--color2);
  text-shadow: 1px 1px 4px black;
  white-space: nowrap; /* Prevent text wrapping */
}

.hero .rainbow .text-container {
  position: absolute;
  right: 10%; /* Position 10% from right */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Center vertically */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to left */
  justify-content: center;
  min-width: 200px; /* Minimum width to prevent text wrapping */
}

.highlight {
  color: var(--color1);
}

@media screen and (max-width: 900px) {
  .hero .content {
    padding: 5rem 2rem 1.5rem 2rem;
  }

  .hero .content .title {
    font-size: 5rem;
    line-height: 4rem;
  }

  .hero .content .tagline {
    font-size: 2rem;
    line-height: 2rem;
  }

  .hero .details {
    font-size: 1.2rem;
    top: 1rem;
    right: 1rem;
  }

  .hero .rainbow {
    height: 10rem;
    margin-top: 1rem;
  }

  .hero .rainbow .text-container {
    right: 10%;
    top: 38%;
    min-width: 150px;
  }

  .hero .rainbow .days {
    font-size: 6rem;
    line-height: 5rem;
  }

  .hero .rainbow .text {
    font-size: 2.5rem;
    /* top: 45%; */
  }
}

@media screen and (max-width: 480px) {
  .hero {
    border: 0px solid red;
    height: 70vh;
  }
  .hero .content {
    padding: 3rem 1rem 1rem 1rem;
    margin-top: 5rem;
  }

  .hero .content .title {
    font-size: 5rem;
    line-height: 3rem;
  }

  .hero .content .tagline {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .hero .details {
    font-size: 0.9rem;
    top: -4rem;
    right: 0.5rem;
  }

  .hero .rainbow {
    height: 8rem;
    margin-top: 0.5rem;
    margin-top: 2rem;
  }
  .hero .rainbow img {
    width: 200%;
    max-width: 200%;
    transform: translateX(-20%);
  }

  .hero .rainbow .text-container {
    right: 5%;
    min-width: 100px;
    top: 35%;
  }

  .hero .rainbow .days {
    font-size: 4rem;
    line-height: 3rem;
    /* right: 15%; */
    margin-top: 1.5rem;
  }

  .hero .rainbow .text {
    font-size: 1.8rem;
    margin-top: 0.8rem;
    /* top: 45%; */
    /* right: 5%; */
  }
}
