.section2 {
  margin-top: 5rem;
  /* border: 1px solid red; */
  height: 130vh;
  position: relative;
}
.section2 .heading {
  /* font-family: "Ruslan Display"; */
  font-size: 5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.section2 .description {
  /* font-family: "Bricolage Grotesque"; */
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.section2 .section2__main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  /* height: 100vh; */
  border: 0px solid blue;
  width: 100%;
  height: 100%;
}

.section2 .section2__main .main__leftchild {
  width: 50%;
  height: 100%;
  /* display: grid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2.5rem;
  /* margin-top: 12rem; */
}

.section2 .section2__main .main__leftchild .leftchild__heading {
  width: 100%;
  /* height: 100%; */
  display: flex;
  align-items: flex-end;
  padding-bottom: 3rem;
}

.section2 .section2__main .main__leftchild .leftchild__description {
  width: 100%;
  /* height: 100%; */
  display: flex;
  align-items: flex-start;
}

.section2 .section2__main .right__child {
  width: 50%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: end;
}

.section2 .section2__main .right__child img {
  display: block;
  object-fit: cover;
  /* transform: scale(0.85) translateX(15%); */
  opacity: 1;
  height: 100%;
}
/* -------------------------------- banner -------------------------------- */
.banner {
  /* border: 1px solid; */
  overflow: hidden;
  box-shadow: 0 3px 0 #000;
  /* transform: rotate(0deg) translate3d(0%, -700%, 0); */
  width: auto;
  /* transform-origin: center; */

  position: relative;
  bottom: 15rem;
  left: 0;
  transform: rotateZ(-3deg);
  transform-origin: left;
}

.banner .banner-inside-wrapper {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  width: auto;
}

.banner .banner-inside-wrapper .banner-text {
  font-family: "Bricolage Grotesque";
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  box-sizing: content-box;
  padding: 0.125rem 1.25rem;
  display: grid;
  place-items: center;
}

.banner .banner-inside-wrapper .banner__text1 {
  background: #f96635;
}

.banner .banner-inside-wrapper .banner__text2 {
  background: #faecb6;
}

.banner .banner-inside-wrapper .banner__text2 span {
  font-size: small;
  max-height: 2rem;
  font-weight: 800;
  transform: rotate(-90deg);
}

.banner .banner-inside-wrapper .banner__text3 {
  background: #2bbaa5;
}

.banner .banner-inside-wrapper .banner__text4 {
  background: #f9a822;
}

@media screen and (max-width: 1024px) {
  .section2 {
    margin-top: 1rem;
    height: 115vh;
  }

  .section2 .section2__main .main__leftchild .leftchild__heading {
    font-size: 4.5rem;
    padding-bottom: 3rem;
  }

  .section2 .section2__main .main__leftchild .leftchild__description {
    font-size: 1.9rem;
  }

  .section2 .section2__main .right__child img {
    height: 100%;
  }

  .banner {
    bottom: 3rem;
    transform: rotateZ(-3deg);
  }

  .banner .banner-inside-wrapper .banner-text {
    font-size: 1.8rem;
    padding: 0.125rem 1.125rem; /* 2px 18px to rem */
  }
}

@media screen and (max-width: 950px) {
  .section2 {
    margin-top: 2.5rem;
    height: 80vh;
  }

  .section2 .section2__main .main__leftchild .leftchild__heading {
    font-size: 4rem;
    padding-bottom: 3rem;
  }

  .section2 .section2__main .main__leftchild .leftchild__description {
    font-size: 1.9rem;
  }

  .section2 .section2__main .right__child img {
    display: block;
    object-fit: cover;
    /* transform: scale(0.85) translateX(15%); */
    opacity: 1;
    /* height: 50%; */
    height: 80%;
  }

  .banner {
    bottom: 3rem;
    transform: rotateZ(-3deg);
  }

  .banner .banner-inside-wrapper .banner-text {
    font-size: 1.6rem;
    padding: 0.125rem 1rem; /* 2px 16px to rem */
  }
}

@media screen and (max-width: 768px) {
  .section2 {
    /* margin-top: 10rem; */
    height: 80vh;
  }

  .section2 .section2__main .main__leftchild {
    width: 55%;
    height: 100%;
    padding-left: 2rem;
  }

  .section2 .section2__main .main__leftchild .leftchild__heading {
    font-size: 3.5rem;
    padding-bottom: 3rem;
  }

  .section2 .section2__main .main__leftchild .leftchild__description {
    font-size: 1.5rem;
  }

  .section2 .section2__main .right__child {
    width: 45%;
    height: 100%;
  }

  .section2 .section2__main .right__child img {
    display: block;
    object-fit: cover;
    /* transform: scale(0.85) translateX(15%); */
    opacity: 1;
    /* height: 70%; */
    height: 80%;
  }

  .banner {
    bottom: 3rem;
    transform: rotateZ(-3deg);
  }

  .banner .banner-inside-wrapper .banner-text {
    font-size: 1.4rem;
    padding: 0.125rem 0.875rem; /* 2px 14px to rem */
  }
}

@media screen and (max-width: 650px) {
  .section2 {
    /* margin-top: 10rem; */
    height: 90vh;
  }

  .section2 .section2__main .main__leftchild {
    width: 55%;
    height: 100%;
    padding-left: 2rem;
  }

  .section2 .section2__main .main__leftchild .leftchild__heading {
    font-size: 3rem;
    padding-bottom: 2.5rem;
  }

  .section2 .section2__main .main__leftchild .leftchild__description {
    font-size: 1.4rem;
  }

  .section2 .section2__main .right__child {
    width: 45%;
    height: 100%;
  }

  .section2 .section2__main .right__child img {
    display: block;
    object-fit: cover;
    /* transform: scale(0.85) translateX(15%); */
    opacity: 1;
    height: 100%;
  }

  .banner {
    bottom: 3rem;
    transform: rotateZ(-3deg);
  }

  .banner .banner-inside-wrapper .banner-text {
    font-size: 1.2rem;
    padding: 0.125rem 0.75rem; /* 2px 12px to rem */
  }
}

@media screen and (max-width: 586px) {
  .section2 {
    /* margin-top: 10rem; */
    height: 75vh;
  }

  .section2 .section2__main .main__leftchild {
    width: 50%;
    height: 100%;
    padding-left: 2rem;
  }

  .section2 .section2__main .main__leftchild .leftchild__heading {
    font-size: 2.3rem;
    padding-bottom: 2.3rem;
  }

  .section2 .section2__main .main__leftchild .leftchild__description {
    font-size: 1.3rem;
  }

  .section2 .section2__main .right__child {
    width: 50%;
    height: 100%;
  }

  .section2 .section2__main .right__child img {
    display: block;
    object-fit: cover;
    /* transform: scale(0.85) translateX(15%); */
    opacity: 1;
    height: 100%;
  }

  .banner {
    bottom: 2rem;
    transform: rotateZ(-3deg);
  }

  .banner .banner-inside-wrapper .banner-text {
    font-size: 1rem;
    padding: 0.125rem 0.625rem; /* 2px 10px to rem */
  }
}

@media screen and (max-width: 480px) {
  .section2 {
    margin-top: 0rem;
    height: 50vh;
    border: 0px solid red;
  }

  .section2 .section2__main .main__leftchild {
    width: 50%;
    height: 100%;
    padding-left: 1.25rem;
  }

  .section2 .section2__main .main__leftchild .leftchild__heading {
    font-size: 2rem;
    padding-bottom: 2rem;
  }

  .section2 .section2__main .main__leftchild .leftchild__description {
    font-size: 1.25rem;
  }

  .section2 .section2__main .right__child {
    width: 50%;
    height: 100%;
  }

  .section2 .section2__main .right__child img {
    display: block;
    object-fit: cover;
    /* transform: scale(0.85) translateX(15%); */
    opacity: 1;
    /* height: 60%; */
    height: 100%;
  }

  .banner {
    bottom: 2rem;
    transform: rotateZ(-3deg);
  }

  .banner .banner-inside-wrapper .banner-text {
    font-size: 0.9rem;
    padding: 0.125rem 0.5rem; /* 2px 8px to rem */
  }
}

@media screen and (max-width: 400px) {
  .section2 {
    height: 50vh;
  }

  .section2 .section2__main .main__leftchild {
    width: 50%;
    height: 100%;
    padding-left: 1.25rem;
  }

  .section2 .section2__main .main__leftchild .leftchild__heading {
    font-size: 1.8rem;
    padding-bottom: 1.8rem;
  }

  .section2 .section2__main .main__leftchild .leftchild__description {
    font-size: 1rem;
  }

  .section2 .section2__main .right__child {
    width: 50%;
    height: 100%;
  }

  .section2 .section2__main .right__child img {
    display: block;
    object-fit: cover;
    /* transform: scale(0.85) translateX(15%); */
    opacity: 1;
    height: 60%;
  }

  .banner {
    bottom: 2rem;
    transform: rotateZ(-3deg);
  }

  .banner .banner-inside-wrapper .banner-text {
    font-size: 0.8rem;
    padding: 0.125rem 0.375rem; /* 2px 6px to rem */
  }
}

@media screen and (max-width: 360px) {
  .section2 .section2__main .right__child img {
    display: block;
    object-fit: cover;
    /* transform: scale(0.85) translateX(15%); */
    opacity: 1;
    height: 80%;
  }
}
