button {
    background-color: #faecb6;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 1px solid black;
    box-shadow: 4px 4px 0px 0px #000000;
    max-width: fit-content;
    height: 48px;
    z-index: 3;
    position: relative;
}

button span {
    max-width: fit-content;
    height: 48px;
    gap: 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    /* font-family: "Bricolage Grotesque", sans-serif; */
    font-weight: 600;
}

button svg {
    width: 2.2rem;
    height: 2.2rem;
    padding: 0.5rem;
    gap: 0px;
    opacity: 0px;
}

@media screen and (max-width: 768px) {
    button {
        padding: 2px 5px;
        height: 30px;
    }
    button span {
        font-size: 1rem;
    }

    button svg {
        width: 28px;
        height: 28px;
    }
}
