.section3 {
    position: relative;
    width: 100vw;
    min-height: 100vh;

    & .section3__main {
        padding: 60px;
        grid-row-gap: 3rem;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: min-content 1fr min-content;

        & .heading {
            font-family: "Ruslan Display";
            font-size: 6rem;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            text-transform: uppercase;
            text-align: center;
        }

        & .organisers__container {
            /* border: 1px solid black; */
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 4rem;
            gap: 4rem;
            flex-wrap: wrap;
            align-self: center;
            justify-self: center;

            & .organisers {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                z-index: 1;
                position: relative;
                /* .organisers__img is the contianer of img
                tag that contains the organiser image */
                & .organisers__img {
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-bottom: 1rem;

                    & img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                &:nth-child(4n + 1) .organisers__img {
                    background-color: #2bbaa5;
                }
                &:nth-child(4n + 2) .organisers__img {
                    background-color: #93d3ae;
                }
                &:nth-child(4n + 3) .organisers__img {
                    background-color: #f9a822;
                }
                &:nth-child(4n + 0) .organisers__img {
                    background-color: #f96635;
                }
            }
        }

        & .btn__container {
            padding-top: 6vh;
            display: grid;
            place-items: center;
        }
    }

    & .side__image {
        width: 378px;
        height: 452px;
        position: absolute;
        top: calc(100% - 226px);
        transform: translateX(-50%);

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    /* utility classes */
    & img {
        display: block;
    }

    & .description {
        font-family: "Bricolage Grotesque";
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
    }

    & .centered {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 1024px) {
    .section3 {
        min-height: 80vh;
    }

    .section3 .description {
        font-size: 1.15rem;
    }

    .section3 .section3__main {
        padding: 60px;
        grid-row-gap: 3rem;

        & .heading {
            font-size: 3rem;
        }

        & .organisers__container {
            padding: 0 2rem;
            gap: 3rem;

            & .organisers__img {
                width: 105px;
                height: 105px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .section3 .description {
        font-size: 1rem;
    }

    .section3 .section3__main {
        padding: 10px;
        grid-row-gap: 1rem;

        & .heading {
            font-size: 2rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }

    .section3 .side__image {
        width: 189px;
        height: 226px;
        top: calc(100% - 113px);
    }
}
