.event-section {
    width: 100%;
    max-height: fit-content;
    /* height: 10rem; */
    /* min-height: fit-content; */
    /* border: 2px solid black; */
    padding: 0rem 2.5rem 10rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    position: relative;
    margin-top: 2rem;
}

.event-section h1 {
    /* font-size: 100px; */
    font-size: 5rem;
    /* font-family: "Ruslan Display", sans-serif; */
    font-weight: 400;
    z-index: 2;
}

.event-section .events {
    /* font-size: 40px; */
    font-size: 2rem;
    /* font-family: "Bricolage Grotesque", sans-serif; */
    font-weight: 600;
    display: flex;
    z-index: 2;
    flex-flow: row wrap;
    /* gap: 0.5rem; */
    margin: 1rem 0;
}
.event-section .events .item {
    gap: 1rem;
}

.event-section img {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    opacity: 1;
    bottom: 0px;
    left: 0;
    object-fit: cover;
    object-position: top;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .event-section {
        padding: 1.875rem;
    }

    .event-section h1 {
        font-size: 3rem;
    }

    .event-section .events {
        font-size: 1.25rem;
    }

    .event-section button {
        padding: 0.5rem 1rem;
        height: 2.5rem;
    }

    .event-section button span {
        font-size: 1.25rem;
    }

    .event-section button svg {
        width: 1.75rem;
        height: 1.75rem;
    }
}

@media (max-width: 480px) {
    .event-section {
        padding: 5rem 1rem;
    }

    .event-section h1 {
        font-size: 2.5rem;
    }

    .event-section .events {
        font-size: 1rem;
    }

    .event-section button {
        padding: 0.375rem 0.75rem;
        height: 2.25rem;
    }

    .event-section button span {
        font-size: 1rem;
    }

    .event-section button svg {
        width: 1.5rem;
        height: 1.5rem;
    }
}
