.EventsDetails-section .eventDetails {
    /* border: 2px solid black; */
    width: 100%;
    min-height: fit-content;
    height: 35rem;
    padding: 5rem 5rem 0rem 5rem;
    display: flex;
    justify-content: stretch;
    align-items: start;
    gap: 3.5rem;
}

.EventsDetails-section .eventDetails .image {
    /* border: 2px solid black; */
    width: 15rem;
    /* height: 100%; */
    height: auto;
    position: relative;
    /* border: 2px solid black; */
}

.EventsDetails-section .eventDetails .image .top-ribbon-image {
    position: absolute;
    top: -1.875rem;
    left: -2.5rem;
}

.EventsDetails-section .eventDetails .image .bottom-ribbon-image {
    position: absolute;
    bottom: -1.875rem;
    right: -2.5rem;
}

.EventsDetails-section .eventDetails .image .event-image {
    width: 15rem;
}

.EventsDetails-section .eventDetails .details {
    /* border: 2px solid black; */
    margin-top: -0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    /* min-height: 25.75rem; */
    gap: 2.5rem;
}

.EventsDetails-section .eventDetails .details h1 {
    /* font-size: 100px; */
    /* font-size: 4.2rem; */
    font-size: 3.8rem;
    /* font-family: "Ruslan Display", sans-serif; */
    font-weight: 400;
    z-index: 2;
    margin-left: -0.2rem;
}

.EventsDetails-section .eventDetails .details p {
    min-width: 80%;
    /* font-size: 2rem; */
    font-size: 1.5rem;
    font-weight: 600;
    z-index: 2;
}

.EventsDetails-section .eventDetails.reverse {
    flex-direction: row-reverse;
}

.EventsDetails-section .eventDetails.reverse .details {
    align-items: end;
}

.EventsDetails-section .eventDetails.reverse .details h1 {
    /* margin-left: 0; */
    margin-right: -0.2rem;
    text-align: end;
}

.EventsDetails-section .eventDetails.reverse .details p {
    text-align: end;
}

.EventsDetails-section .eventDetails:last-child {
    padding-bottom: 2rem;
}

@media (max-width: 980px) {
    .EventsDetails-section .eventDetails.reverse .details {
        max-width: 100%;
    }

    .EventsDetails-section .eventDetails.reverse .details h1 {
        width: 100%;
        font-size: 3.3rem;
    }

    .EventsDetails-section .eventDetails .image .event-image {
        width: 12rem;
    }
}

@media (max-width: 768px) {
    .EventsDetails-section .eventDetails {
        height: 30rem;
        padding: 3.5rem 3.5rem 0rem 3.5rem;
    }
    
    .EventsDetails-section .eventDetails .image {
        width: 10rem;
    }

    .EventsDetails-section .eventDetails .image .top-ribbon-image {
        width: 65%;
    }

    .EventsDetails-section .eventDetails .image .bottom-ribbon-image {
        width: 65%;
    }

    .EventsDetails-section .eventDetails .image .event-image {
        width: 10rem;
    }

    .EventsDetails-section .eventDetails .details {
        /* border: 2px solid black; */
        margin-top: -0.6rem;
        /* min-height: 25.75rem; */
        gap: 2rem;
    }

    .EventsDetails-section .eventDetails .details h1 {
        font-size: 2.5rem;
        /* text-wrap: nowrap; */
    }

    .EventsDetails-section .eventDetails.reverse .details h1 {
        width: 100%;
        font-size: 2.5rem;
    }

    .EventsDetails-section .eventDetails .details p {
        font-size: 1.2rem;
    }
}

@media (max-width: 586px) {
    .EventsDetails-section .eventDetails {
        height: 25rem;
        padding: 3rem 3rem 0rem 3rem;
        gap: 3rem;
        flex-direction: column;
    }
    
    .EventsDetails-section .eventDetails .image {
        width: 10rem;
    }

    .EventsDetails-section .eventDetails .image .top-ribbon-image {
        width: 60%;
        top: -0.85rem;
        left: -1.7rem;
    }

    .EventsDetails-section .eventDetails .image .bottom-ribbon-image {
        width: 60%;
        bottom: -0.85rem;
        right: -1.7rem;
    }

    .EventsDetails-section .eventDetails .image .event-image {
        width: 10rem;
    }

    .EventsDetails-section .eventDetails .details {
        /* border: 2px solid black; */
        margin-top: -0.75rem;
        /* min-height: 25.75rem; */
        gap: 1rem;
    }

    .EventsDetails-section .eventDetails .details h1 {
        font-size: 2.7rem;
        /* text-wrap: nowrap; */
    }

    .EventsDetails-section .eventDetails .details p {
        font-size: 1.2rem;
    }

    .EventsDetails-section .eventDetails.reverse {
        flex-direction: column;
    }
    
    .EventsDetails-section .eventDetails.reverse .details {
        align-items: start;
    }
    
    .EventsDetails-section .eventDetails.reverse .details h1 {
        /* margin-left: 0; */
        /* margin-right: -0.2rem; */
        text-align: start;
    }
    
    .EventsDetails-section .eventDetails.reverse .details p {
        text-align: start;
    }
}

@media (max-width: 480px) {
    .EventsDetails-section .eventDetails {
        height: 22rem;
        padding: 2.5rem 2.5rem 0rem 2.5rem;
        gap: 2.5rem;
    }
    
    .EventsDetails-section .eventDetails .image {
        width: 8rem;
    }

    .EventsDetails-section .eventDetails .image .top-ribbon-image {
        width: 50%;
        top: -0.5rem;
        left: -1.1rem;
    }

    .EventsDetails-section .eventDetails .image .bottom-ribbon-image {
        width: 50%;
        bottom: -0.2rem;
        right: -0.7rem;
    }

    .EventsDetails-section .eventDetails .image .event-image {
        width: 8rem;
    }

    .EventsDetails-section .eventDetails .details {
        /* border: 2px solid black; */
        margin-top: -0.75rem;
        /* min-height: 25.75rem; */
        gap: 0.7rem;
    }

    .EventsDetails-section .eventDetails .details h1 {
        font-size: 2.2rem;
        /* text-wrap: nowrap; */
    }

    .EventsDetails-section .eventDetails.reverse .details h1 {
        font-size: 2.2rem;
        /* text-wrap: nowrap; */
    }

    .EventsDetails-section .eventDetails .details p {
        font-size: 1rem;
    }
}
