section {
    width: 100%;
    /* min-height: 100vh; */
    /* padding: 2rem 5rem; */
    max-width: 100%;
    /* overflow: hidden; */
}
.App {
    background: var(--color3);
    height: fit-content;
    overflow: hidden;
    position: relative;
}

/* src/App.css updates */
.App .bg-img {
    mix-blend-mode: multiply; /* Makes texture images blend with background color */
    filter: contrast(120%) brightness(90%);
    pointer-events: none; /* Ensure background doesn't block clicks */
}

/* Give individual texture pieces slight rotations for that "pasted" look */
.App .bg-img img:nth-child(odd) {
    transform: rotate(2deg) scale(1.05);
}
.App .bg-img img:nth-child(even) {
    transform: rotate(-1.5deg);
}

.App .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 1000vh; */
    border: 1px solid red;
    opacity: 100%;
    /* background: url("./imgs/fold-texture-bg.png") lightgray 100% / cover repeat; */
    background-blend-mode: darken;
    mix-blend-mode: overlay;
    z-index: 0;
    overflow: hidden;
    /* filter: brightness(80%); */
}
.App .bg-img img{
    width: 100%;
    /* height: 100%; */
    /* max-height: 100%; */
    max-width: 100%;
    min-width: 100%;
    /* object-fit: cover; */
    object-position: top left;
}
.App .bg-img2 {
    position: absolute;
    top: 250vh;
    left: 0;
    width: 100%;
    height: 250vh;
    border: 0px solid red;
    opacity: 100%;
    /* background: url("./imgs/fold-texture-bg.png") lightgray 100% / cover repeat; */
    background-blend-mode: darken;
    mix-blend-mode: overlay;
    z-index: 0;

    /* filter: brightness(80%); */
}
.App .bg-img3 {
    position: absolute;
    top: 500vh;
    left: 0;
    width: 100%;
    height: 250vh;
    border: 0px solid red;
    opacity: 100%;
    background: url("./imgs/fold-texture-bg.png") lightgray 100% / cover repeat;
    background-blend-mode: darken;
    mix-blend-mode: overlay;
    z-index: 0;

    /* filter: brightness(80%); */
}
.App .bg-img4 {
    position: absolute;
    /* top: 750vh; */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250vh;
    border: 0px solid red;
    opacity: 100%;
    background: url("./imgs/fold-texture-bg.png") lightgray 100% / cover repeat;
    background-blend-mode: darken;
    mix-blend-mode: overlay;
    z-index: 0;

    /* filter: brightness(80%); */
}
.App .bg-img5 {
    position: absolute;
    top: 1000vh;
    left: 0;
    width: 100%;
    height: 250vh;
    border: 0px solid red;
    opacity: 100%;
    background: url("./imgs/fold-texture-bg.png") lightgray 100% / cover repeat;
    background-blend-mode: darken;
    mix-blend-mode: overlay;
    z-index: 0;

    /* filter: brightness(80%); */
}
.App .bg-img6 {
    position: absolute;
    top: 1250vh;
    left: 0;
    width: 100%;
    height: 250vh;
    border: 0px solid red;
    opacity: 100%;
    background: url("./imgs/fold-texture-bg.png") lightgray 100% / cover repeat;
    background-blend-mode: darken;
    mix-blend-mode: overlay;
    z-index: 0;

    /* filter: brightness(80%); */
}